*
!.gitignore
!config-home-giznet/
config-home-giznet/*
!config-home-giznet/gizclaw/
config-home-giznet/gizclaw/*
!config-home-giznet/gizclaw/gear1/
!config-home-giznet/gizclaw/gear1/config.yaml
!config-home-giznet/gizclaw/gear1/identity.key
!config-home-webrtc/
config-home-webrtc/*
!config-home-webrtc/gizclaw/
config-home-webrtc/gizclaw/*
!config-home-webrtc/gizclaw/gear1/
!config-home-webrtc/gizclaw/gear1/config.yaml
!config-home-webrtc/gizclaw/gear1/identity.key
!chat/
chat/*
!chat/roundtrip/
chat/roundtrip/*
!chat/roundtrip/README.md
!chat/roundtrip/manifest.json
!chat/roundtrip/*.ogg
